@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');
body {
  /*overflow: hidden;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  color: #fff;
}
.hero {
  background: url("../img/hero-background.jpg");
  background-size: cover;
  background-position: center;
}
.hamburger {
  width: 35px;
  height: 19px;
  border: 0;
  border-top: 3px solid #fff;
  background: transparent;
  position: relative;
  margin: 20px;
  transition: 0.3s transform linear;
}
.hamburger:before, .hamburger:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  border-top: 3px solid #fff;
  transform: translateY(5px);
}
.hamburger:before {
  margin-left: 5px;
}
.hamburger:after {
  transform: translateY(15px);
  width: 35px;
  transition: 0.3s transform linear;
}
/*efekt animacji hamburgera*/
.hamburger:focus {
  transform: rotate(45deg);
  border: none;
}
.hamburger:focus:after {
  transform: rotate(-90deg) translateX(-5px);
}
.hamburger:focus:before {
  width: 35px;
  margin: 0;
}
.site-nav {
  height: 50px;
  width: 100%;
  display: flex;
  /*justify-content: flex-end;*/
  align-content: center;
  align-items: center;
  padding: 50px 10px 10px 10px;
  box-sizing: border-box;
}
.site-nav-logo {
  margin-right: auto;
}
.btn-search {
  background: none;
  border: none;
}
.site-menu {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  margin: 0 auto;
  width: 100%;
  transform: translateX(100%);
  transition: 0.3s transform ease-in-out;
}
.site-menu ul {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.site-menu ul li {
  background: none;
  margin-top: 20px;
  flex-basis: 100%;
  height: 30px;
  text-transform: uppercase;
}
.site-menu a {
  display: flex;
  box-sizing: border-box;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0 15px;
}
.site-menu a:hover {
  opacity: 0.5;
}
/*ustawienie ruchomego menu*/
.hamburger:focus ~ .site-menu, .site-menu:hover {
  transform: translateX(0);
}
.hamburger ~ .site-menu {
  transform: translateX(100%);
}
.caption {
  text-align: center;
  margin: 140px auto 0 auto;
  width: 90%;
}
.caption h1 {
  font-family: PlayfairDisplay;
  font-size: 2.0rem;
  font-weight: 400;
}
.caption p {
  font-size: 0.8rem;
  font-weight: 300;
}
/*line btn*/
.btn-group {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 163px;
  padding: 0 30px;
  height: 46px;
  border: none;
  background-color: #da7074;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 46px;
  position: relative;
  color: #fff;
}
.btn-search:hover,
.btn:hover,
.btn-play:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn:after {
  content: '';
  position: absolute;
  top: 60px;
  left: 45%;
  width: 1px;
  height: 120px;
  background: #da7074;
  box-shadow: 10px 20px 0 #da7074;
} 
.btn:focus,
.btn-play:focus {
  display: none;
}
.line {
  content: '';
  height: 1px;
  background: #da7074;
  width: 20%;
}
.btn-play {
  background: none;
  border: none;
  transform: scale(0.9);
  margin-top: 160px;

}
/*image-row*/
.image-row .img-1 {
  background-image: url(../img/dolor.jpg);
  background-size: cover;
  background-position: center;
}
.image-row .img-2 {
  background-image: url(../img/ligula.jpg);
   background-size: cover;
  background-position: center;
}
.image-row .img-3 {
  background-image: url(../img/consectetur.jpg);
  background-size: cover;
  background-position: center;
}
.image-row .img-4 {
  background-image: url(../img/ullamcorper.jpg);
   background-size: cover;
  background-position: center;
}
.image-row {
  display: flex;
  flex-flow: row wrap;
}
.image-gallery {
  width: 50%;
}
.image-row h4 {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  padding-top: 200px; 
  margin: 0;
}
.image-row p {
  font-family: Georgia, serif;
  font-size: 0.8rem;
  font-style: italic;
  line-height: 30px;
  text-align: center;
  margin-top: 0;
}
/*footer*/
.collumn {
  color: #000;
  width: 31%;
  margin: 1%;
}
.cols {
  display: flex;
  flex-flow: row wrap;
  margin: 6% 5%;  
}
.our-mission {
  width: 100%;
}
.collumn h4 {
  color:  #141515;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.collumn ul {
  padding-left: 0; 
}
.collumn ul li {
  list-style-type: none;
  text-align: left;
}
.collumn p,
.collumn ul li  {
  font-family: Georgia, serif;
  color:  #565656;
  font-size: 0.8rem;
  font-style: italic;
  line-height: 26px;
  text-align: left;
}
.our-mission h4,
.our-mission p {
  text-align: center;
} 
.copy {
  background-color: #000;
  height: 96px;
  clear: both;
}
.copy p {
  font-family: Georgia, serif;
  font-size: 0.8rem;
  font-style: italic;
  line-height: 96px;
  text-align: center;
}
/*media min-wodth 600px*/ 
@media (min-width: 600px) {
  .site-menu a {
    font-size: 1.0rem;
  }
  .caption h1 {
    font-size: 3.0rem;
  }
  .caption p {
    font-size: 1rem;
  }
  .btn {
    font-size: 0.9rem;
  }
  .image-row h4,
  .image-row p,
  .collumn h4,
  .collumn p,
  .collumn ul li {
    font-size: 1.4rem;
  }
  .copy p {
    font-size: 1.2rem;
  }
}
/*media min-width 768px*/
@media (min-width: 768px) {
  .hero {
    height: 1300px;
  }
  .site-menu {
    transform: none;
    top: 35px;
  }
  .site-menu ul {
    flex-wrap: nowrap;
    width: 40%;
  }
  .site-menu ul li {
    margin-top: 0;
  }
  .site-menu ul li a {
    font-size: 1.4rem;
  }
  .caption h1 {
    font-size: 10rem;
  }
  .caption p {
    font-size: 1.4rem;
    line-height: 3.4rem
  }
  .btn {
    font-size: 1.4rem;
  }
  .btn-play {
    margin-top: 280px;
  }
  .btn:after {
    height: 190px;
    top: 100px;
  }
  .image-row h4 {
    padding: 200px 0 18px 0; 
  }
  .image-row h4,
  .image-row p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .image-gallery {
    width: 25%;
  }
  .collumn {
    width: 20%;
  }
  .our-mission {
    width: 40%;
  }
  .our-mission h4,
  .our-mission p {
    text-align: left;
  }
}